version: "3.8"

services:
  squash-tm:
    image: squashtest/squash-tm:latest
    container_name: squash-tm
    ports:
      - "8080:8080"
    environment:
      - SQTM_DB_TYPE=postgresql
      - SQTM_DB_HOST=172.17.0.2
      - SQTM_DB_PORT=5432
      - SQTM_DB_NAME=squashdb
      - SQTM_DB_USERNAME=postgres
      - SQTM_DB_PASSWORD=postgres
      - SQTM_URL=http://localhost:8080/squash
    volumes:
      - squash-tm-logs:/opt/squash-tm/logs
    network_mode: "bridge"

volumes:
  squash-tm-logs:
